/* Dropdown Button */
.dropbtn {
    /*background: grey; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(grey, lightgrey); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(grey, lightgrey); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(grey, lightgrey); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(grey, lightgrey); /* Standard syntax */
    background: none;
    -webkit-transition: 0.5s;
    /*color: white;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    opacity: 0.7;
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    /*color: black;*/
    padding: 2px;
    width: 342px;
    background: lightgrey;
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.grad {
    background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(grey, lightgrey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, lightgrey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, lightgrey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, lightgrey); /* Standard syntax */
}

.testing {
    color: greenyellow;
    /*background: #33cc33;
    background: -webkit-linear-gradient(left, #33cc33, #C7C7C7);
    background: -o-linear-gradient(right, #33cc33, #C7C7C7);
    background: -moz-linear-gradient(right, #33cc33, #C7C7C7);
    background: linear-gradient(to right, #33cc33, #C7C7C7);*/
    /*border-top: double #000000;*/
}